.header {
  position: relative;
  background-color: #512689;
  width: 100%;
  height: 265px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContent {
  color: #fff;
  text-align: center;
  width: 850px;
  margin: 15px;
}

.headerContent h1 {
  font-size: 48px;
  margin-bottom: 24px;
}

.headerContent p {
  text-shadow: 2px 2px 2px #000;
  font-size: 20px;
}

.exit_btn {
  position: absolute;
  top: 32px;
  right: 80px;
  padding: 8px 16px 8px 16px;
  border-radius: 7px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

.exit_btn img {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.cardsContainer {
  margin: 48px 80px 56px 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.showMoreBtn {
  padding: 9px 16px 9px 16px;
  width: 170px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showMoreBtn span {
  margin-right: 8px;
}

@media screen and (max-width: 1275px) {
  .cardsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 975px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .exit_btn {
    border: none;
    top: 12px;
    right: 16px;
  }

  .exit_btn span {
    display: none;
  }

  .exit_btn img {
    display: block;
  }
}

@media screen and (max-width: 660px) {
  .cardsContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .headerContent h1 {
    margin-bottom: 18px;
    margin-top: 18px;
  }
}